doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    |     
    link(rel='stylesheet', href='stylesheets/'+style, type='text/css')
    |     
    title Calculator
    |     
    script(src='javascripts/jquery-2.1.3.js')
    |     
    script(src='javascripts/calculator.js')
  body
    div
      .header
        // suppress HtmlFormInputWithoutLabel
        input#display.wide(value='0', disabled='')
      |     
      .numberFields
        input.number(type='button', name='1', value='1')
        |         
        input.number(type='button', name='2', value='2')
        |         
        input.number(type='button', name='3', value='3')
        |         
        input.number(type='button', name='4', value='4')
        |         
        input.number(type='button', name='5', value='5')
        |         
        input.number(type='button', name='6', value='6')
        |         
        input.number(type='button', name='7', value='7')
        |         
        input.number(type='button', name='8', value='8')
        |         
        input.number(type='button', name='9', value='9')
        |         
        input#zero(type='button', name='0', value='0')
      |     
      .operatorFields
        input(type='button', name='+', value='+')
        |         
        input(type='button', name='-', value='-')
        |         
        input(type='button', name='*', value='*')
        |         
        input(type='button', name='/', value='/')
      |     
      .sumField
        input.wide(type='button', name='=', value='=')
