body {
    width: 31rem;
    height: 14rem;
    font-size: 18px;
    overflow: hidden;
}

div.header {
    width: 12%;
}

div.header > input {
    margin: 10% 15% 5%;
    width: 14.75rem;
    height: 1.5em;
    text-align: right;
}

div.numberFields {
    width: 18rem;
    margin-left: 1.9%;
    float: left;

}

div.numberFields > input[type="button"] {
    background-color: #96AB98;
    border: solid 1px;
    width: 5rem;
    height: 2.2rem;
    float: left;
}

div.numberFields > #zero {
    overflow: hidden;
    width: 15rem;
}

div.operatorFields {
    width: 15rem;
    margin-left: 1.9%;
    padding-top: 29%;
    float: bottom;
    position: relative;
}

div.operatorFields > input[type="button"] {
    width: 3.75rem;
    height: 2.2rem;
    background-color: #AB96A9;
    border: solid 1px;
    float: left;
}

div.sumField {
    float: left;
    width: 30rem;
}

div.sumField > input[type="button"] {
    background-color: #AB96A9;
    border: solid 1px;
    float: left;
    height: 2.2rem;
    width: 15rem;
    margin-top: 1%;
    margin-left: 2%;
}